@{
    Layout = null;
}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=4.0, user-scalable=yes" name="viewport">
<title>Data Report of Ctrip Online</title>
<!-- path -->
@using Ctrip.Corp.Report.Utility;
@{
    string cssPath = (Enums.ResLangEnum.en.ToString().Equals(ViewBag.Lang, StringComparison.OrdinalIgnoreCase) ? "en" : "zh-cn");
    @this.Css(cssPath + "/global.css", this.Request.UserAgent.ToLower().Contains("ipad") ? cssPath + "/global_pad.css" : "")
}
<script type="text/javascript">
    //国际化静态资源数据
    var corpReport_Common = @Html.Raw(ViewBag.Common);
    var corpReport_HotelCity = @Html.Raw(ViewBag.Model["jsData"]);
</script>
</head>

<body>
<div class="clearfix header">
</div>
<div class="view_wrap"><div class="clearfix container">
<div class="sub_nav">
	<div class="sub_logo">
		<i class="icon i4">&times;</i>
	</div>
</div>
<div class="main_cnt clearfix">
	<div class="filter_bar">
        <div class="menu_ico"></div>
	</div>
	<div class="hp hp2">
		<div class="box1" style="_zoom:1;position:relative">
			<h3>@ViewBag.Model["lbl_HotelExpensesbyCity"]</h3>
			<h3 class="radio_class">
				<span id="htlCityTypeSelID">
				</span>
			</h3>
			<div class="map" id="iCenter" style="height:350px; z-index:10;">
			</div>
            <div id="mapNoData" style="height:350px; z-index:10; display:none;"><div class="no_data" style="line-height: 350px;"><i class="icon i22"></i></div></div>

			<div class="layer1" style="position:absolute; display:none; z-index:110;" id="tipID">
			</div>
		</div>
        <div class="M-table" id="cityDetailInfoID"></div>
	</div>
</div>
</div><input type="hidden" id="page_id" value="109217"/></div>

<div class="footer">
</div>
<div class="no_data" id="noDataID" style="display:none"><img src="http://pic.ctrip.com/droco/img/loading.gif" alt=""></div>

@this.Script("fame/jquery-1.9.1.min.js","commpub/common.js", "commpub/header.js", "fame/droco.js")
<!--地图-->
<script type="text/javascript"  src="http://webapi.amap.com/maps?v=1.2&key=0e9680eed7f5ffc60a7b02167d0182a3"></script>
<script type="text/javascript">
    var lanType = "@Html.Raw(ViewBag.Lang)";
	//头部选中条件
	var _headSelectInfo = CM.hashAny(window.location.hash);
	//配置文件信息
    var _cfgInfo = @Html.Raw(ViewBag.Config);
	//头部搜索条件
	var _headInitInfo = {
	    masterAccountInfo: @Html.Raw(ViewBag.JsonAccountIDs),
        departmentInfo: @Html.Raw(ViewBag.JsonPartInfo),
        consumerAttrInfo: @Html.Raw(ViewBag.JsonConsumerAttributes),
        nowTime: "@Html.Raw(ViewBag.Date)"
    };
    _headInitInfo.nowTime = _headInitInfo.nowTime.replace(new RegExp('-', 'g'),'/');
</script>
@this.Script("hotel/HtlCity.js", "commpub/pageID.js")
</body>
</html>